.venv/
.pytest_cache/
__pycache__/
*.py[cod]
config/sources.yml

data/raw/*
data/processed/*
data/wiki/*
data/scripts/*
data/audio/*
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/wiki/.gitkeep
!data/scripts/.gitkeep
!data/audio/.gitkeep
